@charset "utf-8";
/* CSS Document */
.mhcc2016_overlay_orangebutton {
	background: #ff8000; /* Old browsers */
  	background: -webkit-linear-gradient(top, #feb46a 0%, #ff8000 100%); /* Chrome10+,Safari5.1+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feb46a), color-stop(100%, #ff8000)); /* Chrome,Safari4+ */
  	background:    -moz-linear-gradient(top, #feb46a 0%, #ff8000 100%); /* FF3.6+ */
  	background:     -ms-linear-gradient(top, #feb46a 0%, #ff8000 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #feb46a 0%, #ff8000 100%); /* Opera 11.10+ */
 	background:         linear-gradient(to bottom, #feb46a 0%, #ff8000 100%);  /* W3C */
	color: #FFF !important;
	text-shadow: none !important;
}
.mhcc2016_overlay_orangebutton:hover {
	background: #e57300; /* Old browsers */
  	background: -webkit-linear-gradient(top, #feb46a 0%, #e57300 100%); /* Chrome10+,Safari5.1+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feb46a), color-stop(100%, #e57300)); /* Chrome,Safari4+ */
  	background:    -moz-linear-gradient(top, #feb46a 0%, #e57300 100%); /* FF3.6+ */
  	background:     -ms-linear-gradient(top, #feb46a 0%, #e57300 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #feb46a 0%, #e57300 100%); /* Opera 11.10+ */
 	background:         linear-gradient(to bottom, #feb46a 0%, #e57300 100%);  /* W3C */
	background: linear-gradient(#feb46a,#e57300);
}

